body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
  }

* {
  box-sizing: border-box;
}

.italic {
    font-style: italic;
}

.spacer {
    flex: 1 1 0%;
}

.main_container {
  height: calc(100vh - 66px)
}

.chatline {
  width: calc(100% - 1.5rem)
}