@import "presets/presets.scss";

.register {
    @include flex-col-center();
    min-height: 100vh;
    min-width: 100%;
    background-color: $purple-200;
}

.register_container {
    @include shadow-2xl();
    @include flex-col-center();
    margin-top: 5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
}

.register_container_header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5rem;
    color: $purple-900;
}

.register_container_form {
    @include flex-col-center();
    width: 24rem;
}

@mixin _register_container_input {
    @include flex-col();
    width: 20rem;
}

.register_container_input-generic {
    @include _register_container_input();
    margin-bottom: 0.5rem;
}

.register_container_input-last {
    @include _register_container_input();
}

.register_container_input_input {
    background-color: $purple-100;
    border-radius: 0.75rem;
    padding: 1px 0.5rem;
}

.register_container_form_button {
    background-color: $purple-800;
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    color: $purple-100;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.register_container_login_link {
    text-decoration-line: underline;
    text-underline-offset: 1px;
    margin-bottom: 0.5rem;
}

