@use "login.scss";
@use "messenger.scss";
@use "navbar.scss";
@use "register.scss";

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
  }

* {
  box-sizing: border-box;
}

.italic {
    font-style: italic;
}

.spacer {
    flex: 1 1 0%;
}