<!DOCTYPE html>
<html lang="en" class="overflow-hidden">

<head>
  <meta charset="UTF-8">
  <script src="/node_modules/socket.io/client-dist/socket.io.js"></script>
  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="main.css">
  <script src="/main.js">
  </script>

  <title>login</title>
</head>