<%- include('./head'); %>
<%- include('./navbar', {auth: false}); %>
<div class="auth_container">
    <h2 class="container_header">Авторизация</h2>
    <form action="/login" method="POST" class="container_form">
        <div class="container_input">
            <label for="email" class="italic">Email</label>
            <input type="email" id="email" name="email" class="input_form" required>
        </div>
        <div class="container_input">
            <label for="password" class="italic">Пароль</label>
            <input type="password" id="password" name="password" class="input_form"
                required>
        </div>
        <button type="submit" class="form_submit_button">
            Войти
        </button>
    </form>
    <a href="/register" class="form_link_button">Регистрация</a>
</div>