<div class="page">
    <header class="navbar">
        <nav class="widther">
            <div class="logo_container">
                <label class="logo"><a href="/" class="link_global">
                        <%= greeting %>
                    </a></label>
            </div>
            <div class="navb">
                <ul class="navb_ul">
                    <li><a href="https://gym1748v.mskobr.ru/#/" class="link_global">Сайт школы</a></li>
                    <li><a href="https://www.mos.ru/" class="link_global">Mos.ru</a></li>
                </ul>
            </div>
        </nav>
    </header>