<div class="navbar">
    <a href="/" class="navbar_link_left">Главная</a>
    <div class="spacer"></div>
    <a href="https://gym1748v.mskobr.ru/#/" class="navbar_link_middle">Сайт школы</a>
    
    <% if(auth) { %>
        <a href="https://www.mos.ru/" class="navbar_link_middle">Mos.ru</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="navbar_logout_button">Выйти из аккаунта</button>
        </form>
    <% } else { %>
        <a href="https://www.mos.ru/" class="navbar_link_right">Mos.ru</a>
    <% } %> 
</div>
