<%- include('./head'); %>
    <%- include('./navbar', {auth: false}); %>
            <div
                class="auth_container">
                <h2 class="container_header">Регистрация</h2>
                <form action="/register" method="POST" class="container_form">
                    <div class="container_input">
                        <label for="name" class="italic">Имя</label>
                        <input type="text" id="name" name="name" class="input_form" required>
                    </div>
                    <div class="container_input">
                        <label for="surname" class="italic">Фамилия</label>
                        <input type="text" id="surname" name="surname" class="input_form" required>
                    </div>
                    <div class="container_input">
                        <label for="code" class="italic">Код Верификации</label>
                        <input type="text" id="code" name="code" class="input_form" required>
                    </div>
                    <div class="container_input">
                        <label for="phone_number" class="italic">Телефон</label>
                        <input type="text" id="phone_number" name="phone_number" class="input_form" required>
                    </div>
                    <div class="container_input">
                        <label for="email" class="italic">Email</label>
                        <input type="email" id="email" name="email" class="input_form" required>
                    </div>
                    <div class="container_input">
                        <label for="password" class="italic">Пароль</label>
                        <input type="password" id="password" name="password" class="input_form" required>
                    </div>
                    <button type="submit"
                        class="form_submit_button">Зарегистрироваться</button>
                </form>
                <a href="/login" class="form_link_button">Уже зарегестрированы? Войти</a>
            </div>
        </div>